.bar{
    size: 30px;
}

.text{
    padding-left: 70x;
}

.address{
    padding-left: 15px;
    
}

.img{
    height: 100px;
    padding-top: 15px;
}

.user{
    padding-left: 10px;
    margin-top: 1px;
}

.item{
    padding-left: 15px;
}

.price{
    padding-left: 1px;
    
}

.delivery{
    float: right;
    padding-right: 15px;
}

.payment{
    padding-left: 15px;
    padding-top: 60px;
}

.btn:active{
    
    border: 1px solid blue;
    width: 100px;
    font-size: 10px;
}

.order{
    float: right;
    padding-right: 15px;
    width: 150px;
    padding-top: 50px;
    height: 90px;
}
