<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center"><strong>Category</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="menu">
  <ion-grid class="view">
    <ion-col>
      <ion-row>
        <ion-button color="warning">Men</ion-button>
        <ion-button color="warning">Women</ion-button>
        <ion-button color="warning">Kids</ion-button>
        <ion-button color="warning">Cap</ion-button>
      </ion-row>
    </ion-col>
  </ion-grid>
  </div>
  <h3 class="label">Skirts</h3>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-0/s403x403/209674495_137869788385876_8973969475182552152_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=aee45a&_nc_ohc=oq0IEsSfVIAAX-Nx4B_&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=5db1dd4b83db393f0697c6298b3e1ac4&oe=60F5CF13">
      </ion-col>  
      <ion-col size="6">
        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-0/s403x403/208942728_324747639383417_2917364359319347911_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=aee45a&_nc_ohc=JQl_X6OuODIAX8s6D6s&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=583c038b9b884a0ef38c5e99e7065b69&oe=60F4B50E">
      </ion-col>
      <ion-col size="6">
        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-0/p403x403/131551564_290090272895534_403239996622829670_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=aee45a&_nc_ohc=Dm7u5fEY4WIAX_WPgrs&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=4348aae62927c5d0df51f4843d4c3263&oe=60F5A6B8">
      </ion-col>
    </ion-row>
  </ion-grid>

  <h3 class="label">Pants</h3>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-0/s403x403/202337062_359431895533971_3741308653410269672_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=aee45a&_nc_ohc=ZZgupYAh84cAX9cU706&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=eec3e52967dfd0a8627c6d4eb03110d2&oe=60F43E81">
      </ion-col>
      <ion-col size="6">
        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-0/s403x403/212346522_360115365479965_8107480603351376759_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=aee45a&_nc_ohc=6tKhtgqcsCYAX-VT-TQ&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=3c32843280ebb50a4b54afc0dcf3720f&oe=60F50D6B">
      </ion-col>
      <ion-col size="6">
        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-0/s403x403/209914401_353635179455215_2602806287107632391_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=aee45a&_nc_ohc=BxRW5WUsDvcAX8eHKGp&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=3d185474f501a1143f6649b256b79297&oe=60F5DFB5">
      </ion-col>
      <ion-col size="6">
        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-0/s403x403/210224544_1288589311555690_7797863109793296417_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=aee45a&_nc_ohc=HAITcOuNR3MAX9Y79TP&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=6bd60e4a7f2eac6fb506d47e328f47e0&oe=60F5313B">
      </ion-col>
    </ion-row>
  </ion-grid>

  <h3 class="label">T-Shirts</h3>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <img src="https://scontent.fmnl7-1.fna.fbcdn.net/v/t1.15752-0/p320x320/215270483_216591226998707_4785193327687206458_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=aee45a&_nc_ohc=TdFeQvVuzv0AX_Lx02S&_nc_ht=scontent.fmnl7-1.fna&oh=7c28bb5b2b879e9a1ea7efdd51510b31&oe=60F45B9D">
      </ion-col>
      <ion-col size="6">
        <img src="https://scontent.fmnl7-1.fna.fbcdn.net/v/t1.15752-0/p403x403/215443532_329780882190097_3393446416425278718_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=aee45a&_nc_ohc=PIQnynDhqjAAX-yUPav&_nc_ht=scontent.fmnl7-1.fna&oh=63f6b5c26ee9936f1cf8efe5e7dcdf03&oe=60F4B4C9">
      </ion-col>
    </ion-row>
  </ion-grid>

  <h3 class="label">Kids Dress</h3>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <img src="https://scontent.fmnl7-1.fna.fbcdn.net/v/t1.15752-0/p403x403/206595688_983100572518436_2974670321522190384_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=aee45a&_nc_ohc=M9m6KcAnIHQAX8EK12d&_nc_ht=scontent.fmnl7-1.fna&oh=d53b97e8d62ee597eb52250a78a735f8&oe=60F5DFB8">
      </ion-col>
      <ion-col size="6">
        <img src="https://scontent.fmnl7-1.fna.fbcdn.net/v/t1.15752-0/s480x480/209187464_1922411897923513_6880902986072297078_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=aee45a&_nc_ohc=O_SKSJDUMRIAX9c86PL&_nc_ht=scontent.fmnl7-1.fna&oh=d70f611c010c308e7310db154565a816&oe=60F55B43">
      </ion-col>
    </ion-row>
  </ion-grid>

  <h3 class="label">Men's Short</h3>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-0/s403x403/212370960_498764804690418_8364346766759885467_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=aee45a&_nc_ohc=C9JQJJBOTLcAX-mlDgx&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=b3f3520c4c857e6733364a5d063782db&oe=60F52631">
      </ion-col>
      <ion-col size="6">
        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-0/s403x403/213389496_233244711819517_5979857209482672502_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=aee45a&_nc_ohc=Zz_Xs4-7-QcAX-FkgGj&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=51c1fc53364ac6e7d4ff9d26a80376ad&oe=60F4261B">
      </ion-col>
    </ion-row>
  </ion-grid>

  <h3 class="label">Polo</h3>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-0/s403x403/209695568_851420835474282_6005769398350754161_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=aee45a&_nc_ohc=NuYoRK0t7JsAX-TrXiU&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=e4e51010e4b9ffa7e6c1eee76332833b&oe=60F53DC7">
      </ion-col>
      <ion-col size="6">
        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-0/s403x403/200504995_535410657890955_3661708947046613797_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=aee45a&_nc_ohc=zjNDaVvcgooAX9_Dygd&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=ec3d3c9d8a3f3272cad27649734a7bc9&oe=60F450DA">
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
