body{
    margin: 0%;
}

.label{
    padding-left: 15px;
    padding-right: 15px;
    
}

.use{
    font-size: 10px;
    float: right;
    padding-right: 15px;
    
}

.login{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    height: 50px;
    
    
}

.col{
    padding-left: 50px;
}

.frgt{
    float: right;
    padding-right: 15px;
}

.up{
    padding-left: 15px;
}

.content{
    margin-top: 40%;
}

.or{
    padding-left: 155px;

}

.google{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
}

.facebook{
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    height: 50px;
}