body{
    margin: 0;
}

.item{
    padding-left: 15px;
}

.pic{
    width: 150px;
    height: 160px;
    padding-left: 15px;
    padding-top: 30px;
}

.label{
    padding-top: 50px;

}

.remove{
    float: right;
    padding-top: 20px;
    height: 50px;
    padding-right: 10px;
    padding-top: 30px;
}

.content{
    background-color: white;
    color: black;

}

.qty{
    padding-top: 10px;
    padding-left: 15px;
}

.btn{
    padding-top: 25px;
    height: 75px;
}
