<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Vintage 80s Authentic Polo Black</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img src="https://scontent.xx.fbcdn.net/v/t1.15752-0/s403x403/200504995_535410657890955_3661708947046613797_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=aee45a&_nc_ohc=zjNDaVvcgooAX_bpI5t&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=76fa2ae3f18a8fa22609260585f0402a&oe=60F450DA">
  <div class="content">
    <h2>Price:</h2>
    <h3>100Php</h3>
    <h2>Sizes Available:</h2>
    <h5>Small </h5>
    <h5>Medeium</h5>
    <h5>Large</h5>
    <h5>Extra Large</h5>
    <br>
    <h5>Stocks Available: 50</h5>
  </div>  
  <ion-button class="cartbtn" routerLink="/cart" >Add To Cart</ion-button>
</ion-content>
