body{
    margin: 0%;
}

.bar{
    height: 55px;
}

.wallet{
    padding-top: 7%;
}

.user{
    padding-left: 15px;
}

.points{
    padding-left: 15px;
}

.icon{
    padding-left: 15px;
}

.order{
    padding-left: 15px;
}

.wish{
    padding-left: 15px;
}

.fav{
    padding-top: 70px;
    opacity: 50%;
}

.btn{
    margin-left: 30%;
}