<ion-header [translucent]="true">

</ion-header>

<ion-content>


  <div class="content">
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="success">
      <ion-tab-button tab="shop">
        <ion-icon name="Home"></ion-icon>
        <ion-label>Shop</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="category">
        <ion-icon name="shirt"></ion-icon>
        <ion-label>Category</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="cart">
        <ion-icon name="cart"></ion-icon>
        <ion-label>Cart</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="profile">
        <ion-icon name="person"></ion-icon>
        <ion-label>Account</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</div>

</ion-content>
